:root{
    --logo-color: #E20015;
    --viber-color: #774E98;
    --watsapp-color: #12940A;
    --tg-color: #52ADDE;
}

/* Анкорные метки с учетом шапки */
.anchors {
    padding-top: 70px;
    margin-top: -70px;
}

@font-face {
    font-family: clematis;
    src: url(/fonts/clematis.woff);
}

@font-face {
    font-family: corpid;
    src: url(/fonts/corpid2.woff);
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    box-sizing: border-box;
}

html,body {
    min-width: 760px;
    /*font-family: sans-serif;*/
    /*font-family: pt_suns;*/
    font-family: Verdana, sans-serif;
}

a, a:visited{
    text-decoration: none;
}

#parent {
    max-width: 1920px;
    position: relative;
}

h1, .h1 {
    font-size: 30px;
    line-height: 42px;
}

h2, .h2 {
    font-size: 26px;
    line-height: 38px;
}

h3, .h3 {
    font-size: 20px;
    line-height: 32px;
}

h4, .h4 {
    font-size: 16px;
    line-height: 28px;
}

h5, .h5 {
    font-size: 14px;
    line-height: 24px;
}

h6, .h6 {
    font-size: 12px;
    line-height: 24px;
}


#wrap, main{
    position: relative;
    max-width: 1920px !important;
    min-width: 760px;
    /*background: #fff;*/
}

main {
    padding: 2vw;
    background: #fff;
    display: block;
    position: relative;
    padding-bottom: 2em;
    /*height: 100% !important;*/
}

.header_shadow {
    text-shadow: 0 1px 0 var(--logo-color), 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    color: #000;
}

/* header */
header {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-size: cover;
    /*background: rgba(0, 0, 0, 0.7);*/
}
.header-content {
    position: relative;
    display: block;
    color: #222;
    top: 50%;
    /*left: 18%;*/
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    /*background: lime;*/
}
.top-h1 {
    color: #222;
    font-size: 3em;
    font-weight: normal;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-shadow: 0 1px 0 var(--logo-color), 0 2px 20px #fff;
}
.header-content h3 {
    font-size: 1.5em;
    font-weight: lighter;
    text-shadow: 0px 0px 5px #fff;
}
.bg {
    max-width: 1920px !important;
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: url('/img/head/bg8.jpg') center no-repeat;
    background-size: cover;
    z-index: -1;
}

footer{
    background: rgba(0,51,51,.3);
    color: #000;
    max-width: 1920px;
    border-top: 1px solid var(--logo-color);
    text-align: center;
    /*line-height: 0.5;*/
    /*padding: 1em;*/
}

footer p{
    /*background: red;*/
    margin-bottom: .2em;
}

/************************************************************/
/* MEDIA */
@media screen and (min-width: 1920px) {
    #wrap, .bg, .menu-wrapper{
        width: 1920px !important;
        /*margin: 0 auto !important;*/
        /*left: calc((100vw - 1920px)/2) !important;*/
        /*background: lime;*/
    }

    #wrap{
        border-left: 1px solid var(--logo-color);
        border-right: 1px solid var(--logo-color);
        box-shadow: 0 0 40px #222;
    }

    #msg-block, #scroller{
        right: calc((100vw - 1920px)/2 + 30px) !important;
    }
}
/**/
@media screen and (max-width: 1024px) {
    .menu-wrapper{
        height: 65px !important;
    }

    .logo-block{
        left: 5px !important;
    }

    .logo-img{
        width: 134px !important;
        height: 60px !important;
    }

    .logo-text{
        margin-left: 140px !important;
    }

    .tel-block{
        left: 140px !important;
        top: 0 !important;
        font-size: 80% !important;
    }

    .mail-block{
        left: 326px !important;
        /*top: 0 !important; */
    }

    .tel{
        /*font-size: 80% !important;*/
    }
}

@media screen and (max-width: 768px) {
    .logo-block{
        display: none;
    }

    .m-logo-block{
        display: block !important;
        position: absolute;
        font-size: 40px;
        right: 5px;
        z-index: 1000000000000;
        text-shadow: 2px 2px #000;
        cursor: pointer;
        color: var(--logo-color);
    }

    .m-logo-block > strong{
        font-size: 30px;
    }

    .menu-wrapper .menu{
        /*padding-left: 30px !important;*/
    }


    .tel-block, .mail-block{
        left: 70px !important;
        top: 25px !important;
        font-size: 80% !important;
    }

    .tel{
        font-size: 80% !important;
    }

    .mail-block{
        top: 63px !important;
    }
}
/* END MEDIA */

/* анимация AJAX загрузки */

#container_loading {
    position: fixed;
    z-index: 10000000000;
    left: calc(100%/2 - 30px);
    top: calc(100%/2 - 30px);
    display: none;
}

.fa-spin, .fa-pulse {
    color: var(--logo-color);
    /*color: #fff;*/
    font-size: 60px !important;
    /*animation: fa-spin .5s infinite linear !important;*/
}
/* конец анимация AJAX загрузки */
.close {
    color: #000 !important;
    font-weight: bold !important;
    font-size: 1em !important;
    opacity: 1 !important;
    text-transform: uppercase;
    z-index: 100;
}

/* Кнопка наверх */
#scroller {
    display: none;
    position: fixed;
    cursor: pointer;
    right: 30px;
    z-index: 10000;
    bottom: 120px;
    font-size: 50px;
    color: var(--logo-color);
    /*cursor: pointer;*/
    opacity: .2;
}
/* конец Кнопка наверх */
.logo-block{
    position: absolute;
    left: 5%;
}

.m-logo-block{
    display: none;
}

.logo-img{
    width: 223px;
    height: 100px;
    transition: all .4s;
}

.logo-img-anim{
    width: 134px;
    height: 60px;
    transition: all .4s;
}

.logo-text{
    display: block;
    margin-top: -38px;
    margin-left: 220px;
    color: #000;
    font-size: 26px;
    font-family: Calibri;
    font-weight: bold;
    text-shadow: 1px 1px #fff;
}
/**/
/* Контактная информация в шапке */
.tel-block, .mail-block{
    position: absolute;
    display: inline-block;
    top: 7px;
    left: 310px;
    /*margin-top: -60px;*/
    line-height: 1;
    /*background: #ddd;*/
    text-transform: lowercase;
}

.mail-block{
    top: 44px;
}

.tel-block a, .mail-block a{
    font-size: 17px;
    letter-spacing: 1px !important;
    color: #222 !important;
    /*background-color:#fff;*/
}

.tel-block > .fa, .mail-block i{
    color: var(--logo-color);
}

.tel, .mail-block {
    color: #222;
    text-shadow: 1px 1px #fff;
    font-family: corpid;
    font-weight: bold;
    letter-spacing: 2px;
}

/* блок с иконками мессенджеров*/
#msg-block {
    display: none;
    position: fixed;
    z-index: 100000;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 50px;
    border: 1px solid #222;
    /*background: rgba(150, 150, 150, .4);*/
    background: #f4fcff;
    /*background: url('/img/wats-bg.gif');*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 40px #87ffdb, 0 0 5px #fff inset;
}

#msg-block > button > span{
    position: absolute;
    font-size: 30px;
    top: -10px;
    right: -10px;
}

.msg-opened{
    height: 320px !important;
}

.msg-text {
    width: 80%;
    margin: 50px auto 0 auto;
    background: #AAD9C2;
    border: 0px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 20px #555;
}

#msg-content {
    margin-top: -20px;
}

.msg-closed {
    overflow: hidden;
    position: relative;
    display: block;
    font-size: 26px;
    color: #222;
    margin-top: 24px;
    margin-left: 10px;
    cursor: pointer;
    background: inherit;
    /*height: 40px;*/
    /*line-height: 40px;*/
}

.msg-closed-text{
    position: absolute;
    left: 80px;
    font-size: 23px;
}

.msg-closed i {
    font-size: 34px;
    /*color: lime !important;*/
}

.msg-img {
    position: absolute;
    top: -35px;
    right: 0;
    opacity: 1;
    z-index: 10000000;
}

.msg-btn {
    display: block;
    padding: 5px;
    text-align: center;
    /*background: #0d6aad;*/
    border: 0px solid transparent;
    border-radius: 10px;
    text-decoration: none !important;
    font-size: 30px;
    color: #fff;
    width: 80%;
    min-width: 160px;
    margin: 0 auto 10px auto;
}

.viber-bg {
    background: var(--viber-color);
}

.watsap-bg {
    background: var(--watsapp-color);
}

.tg-bg {
    background: var(--tg-color);
}

.viber {
    color: var(--viber-color) !important;
}

.wats {
    color: var(--watsapp-color) !important;
}

.tg {
    color: var(--tg-color) !important;
}

.msg-btn:hover, .msg-btn:visited {
    box-shadow: 4px 4px 10px #999;
    color: #fff !important;
}

.msg-btn i {
    font-size: 26px;
}

#msg-block > button {
    /*display: none;*/
    position: absolute;
    top: 10px;
    right: 24px;
}

#msg-block hr {
    border-bottom: 1px dashed #222;
}

/* всплывающая подсказка над чатом */
.tooltip{
    z-index: 100001 !important;
}

.tooltip-inner{
    font-size: 18px;
    color: #222;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #fff !important;
    border: 1px solid #222;
    box-shadow: 0 0 8px inset var(--logo-color);
}

.arrow::before{
    border-top-color: #222 !important;
}

/**/
/* здесь анимация на блоке чата */
.button-anim:before {
    position: absolute;
    content: '';
    display: inline-block;
    /*top: -180px;*/
    /*left: 0;*/
    /*top: 0;*/
    width: 10px;
    height:60px;
    background-color: #fff;
    animation: shiny-btn1 5s ease-in-out infinite;
}

@-webkit-keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }
    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }
    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}

/**/
audio:not([controls]) {
    display: none;
}
p{
    text-indent: 1em;
}

/* STYLE INDEX.PHP */
.underline{
    text-decoration: underline;
    /*text-underline-style: double;*/
}

.underline-red{
    text-decoration: underline;
    text-decoration-color: var(--logo-color) !important;
}

.index-icon{
    /*display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3em;*/
}

.icon-block{
    /*background: #ddd;*/
    position: relative;
    max-width: 300px;
    box-shadow: 0 0 20px #eee inset;
    margin: 1em;
    padding: 1em;
    border: 0 solid transparent;
    border-radius: 16px;
}

.icon-block i{
    /*position: absolute;*/
    display: block;
    margin-left: 80px;
    margin-top: -80px;
}

.icon-block p{
    margin-top: 1em;
}

.btn-index{
    position: relative;
    top: -28px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 20px;
    padding: 14px;
    background: var(--logo-color);
    border: 0px solid transparent;
    border-radius: 26px;
    box-shadow: 0 0 20px #222;
}

.btn-index:hover{
    text-decoration: none;
    top: -30px;
}

.index-hr{
    margin: 2em auto;
    width: 80%;
    border-top: 2px dashed #222;
}

.h-bg {
    color: #fff;
    text-shadow: .5px .5px #e20015;
    padding: 5px 0;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-image: linear-gradient(90deg, #ededed 15%, #555555 37%, #333333 57%, #ededed 82%);
    background-image: -webkit-linear-gradient(0deg, #ededed 15%, #555555 37%, #333333 57%, #ededed 82%);
    background-image: -o-linear-gradient(0deg, #ededed 15%, #555555 37%, #333333 57%, #ededed 82%);
    background-image: -ms-linear-gradient(0deg, #ededed 15%, #555555 37%, #333333 57%, #ededed 82%);
    background-image: -moz-linear-gradient(0deg, #ededed 15%, #555555 37%, #333333 57%, #ededed 82%);
    display: block;
}

.kitchen-icon{
    /*max-width: 600px;*/
    margin: 2em auto;
}

.kitchen-icon-item{
    text-align: center;
    max-width: 300px;
    padding: 1em;
    border: 1px solid #003333;
}

.kitchen-icon-item img{
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.kitchen-icon-item > .h4{
    text-align: center;
}

.kitchen-icon-btn{
    font-size: 18px;
    border: 2px solid var(--logo-color);
    padding: 8px;
    border-radius: 20px;
    color: #222;
}

.kitchen-icon-btn{
    display: block;
    position: relative;
    margin-top: 18px;
    text-decoration: none !important;
    color: inherit !important;
    box-shadow: 0 0 14px #999;
    text-align: center;
}

.kitchen-icon-btn:hover{
    margin-top: 15px;
}

.btn-2{
    position: relative;
    font-size: 16px;
    width: 20em;
    margin: 0 auto;
    font-weight: bold;
    text-shadow: .5px .5px var(--logo-color);
}

.btn-2:hover{
    /*margin-top: -3px;*/
}

.kitchen-icon-item2{
    max-width: 300px;
    position: relative;
    /*border: 1px solid #222;*/
    padding-left: 60px !important;
    box-shadow: 0 0 10px #eee inset;
}

.kitchen-icon-item2 img{
    position: absolute;
    left: 0;
    top: 0;
}

.kitchen-icon-item2 p{
    margin-top: -24px;
}

/**/
.solo-text{
   /*max-width: calc(100% - 400px);*/
    min-width: 400px;
    margin: 2em;
}

.solo-text-block{
    border: 1px dotted rgba(255,0,0, .3);
    box-shadow: 0 0 10 px #999;
    padding: 1em;
    margin: 1em 0;
}

/****/

.zamer-form-block{
    width: 300px;
    padding: 1em;
    border: 1px solid #222;
    box-shadow: 0 0 10px #9d9d9d;
}

.index-field, #indexform-tel, #callform-tel{
   border: none !important;
    outline: none !important;
    border-bottom: 2px solid var(--logo-color) !important;
    border-left: 2px solid var(--logo-color) !important;
    border-bottom-left-radius: 5px !important;
    padding-left: 1em;
    font-size: 18px;
}

.btn-zamer{
    display: block;
    position: relative;
    width: 12em;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    background: var(--logo-color);
    border: 0 solid transparent;
    border-radius: 22px;
    box-shadow: 0 0 10px #222;
    transition: all 2s;
}

.btn-zamer:hover{
    box-shadow: 0 0 30px #222;
    transition: all 2s;
}
/* Такси */
.city{
    /*width: 1140px;*/
    max-width: 1920px;
    /*height: 700px;*/
    /*background-image: url("/img/taxi_bg2.jpg");*/
    background-image: url("/img/city.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/**/
#taxi-form-block{
    background: #fff;
    margin-bottom: 100px;
}

.taxi-out{
    position: relative;
    margin:  0 1em;
}

.item1{
    width: 652px;
}

.item2{
    width: 300px;
}

.taxi-inner{
    position: absolute;
    bottom: -50px;
}

.icon-block2{
    /*background: #ddd;*/
    position: relative;
    max-width: 300px;
    box-shadow: 0 0 20px #eee inset;
    margin: 1em;
    padding: 1em;
    border: 0 solid transparent;
    border-radius: 16px;
}

.icon-block2 i{
    /*position: absolute;*/
    display: block;
    margin-left: 80px;
    margin-top: -10px;
}

.icon-block2 p{
    margin-top: 1em;
    padding-left: 70px;
}

.icon-block2 img{
    position: absolute;
    left: 40px;
}

.num{
    position: absolute;
    left: 10px;
    font-size: 40px;
    color: #003333;
}

.calc{
    padding-top: 160px;
    /*margin-top: 160px;*/
    background: url("/img/back.png") no-repeat center top;
    display: flex;
}

.otziv{
    max-width: 50%;
    margin: 0 2em;
}

.help-block{
    color: red !important;
}

.bla-bla ul li{
    list-style-type: none;
}

.bla-bla ul li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    margin:0 5px 0 -15px;
    color: var(--logo-color);
}

/* Формы модальные */
#call input{
    width: 300px !important;
}

/**/
.credit{
    width: 743px;
    height: 947px;
    margin: 0 auto;
    background-image: url('/img/credit_bg.png');
    background-repeat: no-repeat;
    background-position: center top;
}

.credit-title{
    padding: 80px 0;
    text-align: center;
}

.credit-form-block{
    width: 500px;
    height: 560px;
    margin: 0 auto;
    padding: 1em;
    /*background: lime;*/
    box-shadow: 0 0 20px #444;
    text-align: center;
}

#credit-form input{
    display: block;
    width: 250px;
    /*margin: 0 auto;*/
}
/**/
.solo{
    text-shadow: 0 1px 0 var(--logo-color), 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    color: var(--logo-color);
    font-weight: bold;
    /*font-size: 120%;*/
    font-size: inherit;
}

/* Другая мебель */
.other-meb-block{
    width: 500px;
    height: 375px;
    margin: 2em;
    overflow: hidden;
}

.view-tenth img {
    transform: scaleY(1);
    transition: all 0.7s ease-in-out;
}
.view-tenth .mask {
    background-color: var(--logo-color);
    transition: all 0.5s linear;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.view-tenth h4 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    transition: all 0.5s linear;
    filter: alpha(opacity=0);
    opacity: 0;
}
.view-tenth p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}
.view-tenth:hover img,.w3l_banner_nav_right_banner3_btml:hover .view-tenth img{
    transform: scale(10);
    opacity: 0;
}
.view-tenth:hover .mask,.w3l_banner_nav_right_banner3_btml:hover .view-tenth .mask{
    opacity: 1;
}
.view-tenth:hover h4,.view-tenth:hover p,.w3l_banner_nav_right_banner3_btml:hover .view-tenth h4,.w3l_banner_nav_right_banner3_btml:hover .view-tenth p{
    transform: scale(1);
    opacity: 1;
}
.view {
    overflow: hidden;
    position: relative;
    text-align: center;
}
.view .mask,.view .content {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative;
    margin: 0 auto;
}
.view h4 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin:5em 0 0;
}
.view p {
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 10px 45px 0px;
    text-align: center;
    line-height: 1.8em;
    text-shadow: 0 0 10px #fff;
}

.h-bg2{
    background: linear-gradient(to right,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(178,178,178,1) 100%) !important;
}
/**/