
.menu-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  font-family: 'Economica', sans-serif;
  /*font-size: 1.857em;*/
  height: 100px;
  text-transform: uppercase;
  padding-top: 2px;
  padding-bottom: 2px;
  background: rgba(255, 255, 255, .3);
  transition: all .4s;

  max-width: 1920px;
}

.menu-wrapper-anim{
  height: 65px;
  background: #fff;
  /*border-left: 1px solid #e61b05;*/
  border-bottom: 1px dotted rgba(34,34,34,.5);
  /*border-right: 1px solid #e61b05;*/
  transition: all .4s;
  opacity: .9;
  box-shadow: 0 0 20px #fff;
}

.menu-wrapper .menu {
  /*margin: 0;*/
  /*padding-left: 200px;*/
  list-style: none;
  text-align: right;
}
.menu-wrapper .menu > li {
  position: relative;
  padding: 0.7em 0;
  display: inline-block;
}

.menu-wrapper ul.menu,
.menu-wrapper a.menu-link {
  /*border-top: 1px dashed #dd4949;*/
  /*border-bottom: 1px dashed #dd4949;*/
}
.menu-wrapper a.menu-link {
  display: none;
  padding: 0.7em 0;
  background: #fff;
}
.top-link {
  font-family: LatoRegular;
  letter-spacing: 3px;
  display: block;
  position: relative;
  padding: 0 0.5em;
  margin: 0 0.2em;
  line-height: 1.3em;
  color: #000;
  text-shadow: 1px 1px #e61b05;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a.main-link{
}

.menu-wrapper a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  transition: all 0.5s;
}
.menu-wrapper .menu > .current-menu-item > a,
.menu-wrapper .menu > .current-menu-ancestor > a {
  position: relative;
  z-index: 12;
  background: #f5d4d4;
  /*color: lime;*/
  border-bottom: 1px solid transparent;
}
.menu-wrapper .menu > .current-menu-item > a:hover,
.menu-wrapper .menu > .current-menu-ancestor > a:hover {
  background: #fffdfd;
}
.menu-wrapper .menu > .current-menu-item > a:hover:after,
.menu-wrapper .menu > .current-menu-ancestor > a:hover:after {
  border-top-color: #fffdfd;
}
.menu-wrapper .menu > .current-menu-item > a:after,
.menu-wrapper .menu > .current-menu-ancestor > a:after {
  top: 100%;
  /*border: solid transparent;*/
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #f5d4d4;
  border-width: 5px;
  left: 50%;
  margin-left: -5px;
}
.menu-wrapper .sub-menu {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 10px 0 0 -0.7em;
  padding: 3px 0 0 0;
  position: absolute;
  max-height: 0em;
  overflow: hidden;
  list-style: none outside none;
  text-align: left;
  text-transform: none;
}
.menu-wrapper .sub-menu li {
  display: block;
  background: #ddd;
  margin-left: 0.7em;
  margin-right: 0.7em;
  padding-bottom: .5em;
}
.menu-wrapper .sub-menu a {
  margin: 0;
  white-space: nowrap;
  line-height: 1.8em;
  border: none;
}
.menu-wrapper .sub-menu a:hover {
  /*background: silver;*/
}
.menu-wrapper .sub-menu li:last-child {
  padding-bottom: 0.26em;
}
.menu-wrapper .sub-menu li:last-child a {
  border-bottom: 1px dashed #222;
}
.menu-wrapper li:hover .sub-menu {
  max-height: 30em;
  transition: max-height 0.5s;
}
/* Responsive Menu */
@media screen and (max-width: 768px) {
  .js .menu-wrapper nav[role=navigation] {
    overflow: hidden;
    max-height: 0em;
  }
  .js .menu-wrapper nav[role=navigation].active {
    max-height: 30em;
    transition: max-height 0.5s ease-out;
  }
  .menu-wrapper {
    height: 60px;
  }
  #menu{

  }

  .menu-wrapper a.menu-link {
    display: block;
    width: auto;
    padding-right: 15px;
    padding-left: 10px;
    border: none;
    margin: 0;
  }

  .menu-wrapper a.menu-link.active .ico-caret-down:before {
    content: "\2261";
  }
  .menu-wrapper .menu .menu {
    padding-bottom: 5px;
  }
  .menu-wrapper .menu li {
    display: block;
    border: 1px solid pink;
    border: none;
  }
  .menu-wrapper .menu > li {
    padding: 0px;
    border: none;
    background: silver !important;
    text-align: center;
    width: 100% !important;
    display: inline-block;
  }
  .menu-wrapper .menu > li + li {
    border-top: 1px dashed #222;
  }
  .menu-wrapper .menu a {
    padding: 0.5em 0;
    margin: 0px;
    border: none;
  }
  .menu-wrapper .menu a:hover {
    background: silver;
  }
  .menu-wrapper .menu .rightalign {
    float: none;
  }
  .menu-wrapper li + li a:before {
    content: "";
  }
  .menu-wrapper li:hover .sub-menu {
    max-height: 0em;
    transition: none;
  }
  .menu-wrapper .sub-menu {
    background: none;
    margin-left: 0px;
    margin-top: 1px;
    display: block;
    width: 100%;
  }
  .menu-wrapper .sub-menu li,
  .menu-wrapper .sub-menu li a {
    margin: 0;
    display: block;
    width: 100%;
  }
  .menu-wrapper .sub-menu a {
    padding-left: 0.8em;
  }
  .menu-wrapper .sub-menu a:hover {
    background: silver;
  }
  .menu-wrapper .sub-menu li {
    border-bottom: 1px dashed #222;
  }
  .menu-wrapper .sub-menu li:last-child {
    padding: 0;
  }
  .menu-wrapper .sub-menu li:last-child a {
    border: none;
  }
  .menu-wrapper .menu .has-subnav {
    position: relative;
  }
  .menu-wrapper li .sub-menu.active {
    max-height: 30em;
    overflow: visible;
    position: relative;
    z-index: 9;
    transition: max-height 0.5s ease-out;
  }
  .menu-wrapper .toggle-link {
    /*height: 67px;*/
    /*width: 60px;*/
    display: block;
    position: absolute;
    right: 0px;
    top: 20px;
    z-index: 200;
    font-size: 0em;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }

  .menu-wrapper .menu .has-subnav > .toggle-link:after {
    content: "\2261";
    position: absolute;
    width: 50px;
    top: 50%;
    margin-top: -15px;
    bottom: 50%;
    right: 4px;
    font-size: 28px;
    color: #fff;
  }
  .menu-wrapper .menu .has-subnav > .toggle-link.active:after {
    content: "\2261";
    margin-top: -1px;
  }
}
